<div class="header">
  <div class="container">
    <%= image_tag ("ruleta.png") %>
  </div>
</div>

<div class="destination">
  <div class="container">


    <!-- Your code here -->
    <%= form_for(@player) do |p| %>
  <div class="name">
    <%= p.label :nombre %>
    <%= p.text_field :first_name %><br>
    <%= p.label :apellido %>
    <%= p.text_field :last_name %>
    <%= p.label :rut %>
    <%= p.text_field :rut %>

  </div>
  <div class="actions">
    <%= p.submit "Edit" %>
  </div>
<% end %>

  </div>
</div>
