<div class="header">
  <div class="container">
    <%= image_tag ("ruleta.png") %>

  </div>
</div>

<div class="main">
  <div class="players">
    <div class="container">
  <h2>Players</h2>

    <!--
    To do: Loop through movies and display each one with this HTML
    <div class="movie">
      movie image goes here

      <h3> movie title goes here </h3>
      <p> movie release year goes here </p>
    </div>
    -->
    <% @players.each do |p| %>
      <div class="player">
        <h3><%= p.first_name %> <%= p.last_name %></h3>
        <%= link_to "Ver", player_path(p) %>
          <%= link_to "Edit" , edit_player_path(p) %>
          <%= link_to "Transfer" , player_transfers_path(p) %>

      </div>

    <% end %>
    <div class="actions">
        <%= link_to "New Player", '/players/new' %>

    </div>

    </div>
  </div>

</div>
