<div class="header">
  <div class="container">
    <%= image_tag ("ruleta.png") %>
    <h1>Player</h1>
  </div>
</div>

<div class="players">
  <div class="container">

    <!-- Your code here -->
   <%= form_for(@player) do |p| %>
  <div class="field">
    <%= p.label :nombre %>
    <%= p.text_field :first_name %>
    <%= p.label :apellido %>
    <%= p.text_field :last_name %>
    <%= p.label :rut %>
    <%= p.text_field :rut %>
  </div>
  <div class="actions">
    <%= p.submit "Crear" %>
  </div>
<% end %>


  </div>
</div>
