<div class="header">
  <div class="container">
    <%= image_tag ("ruleta.png") %>

  </div>
</div>
<div class="main">
  <div class="container">


      <h2>Jugador</h2>
      <div class="player">
        <!-- movie image -->
        <h3 class="player-name"><%= @player.first_name%> <%= @player.last_name%> <%= @player.rut%>  </h3>
        <%= link_to "Edit" , edit_player_path(@player) %>
      </div>


    <h2>Raffles</h2>
    <!-- Display each actor's info here -->

    <div class="raffles">
          <% @player.bets.each do |r|%>
            <div class="raffle">
              <h3 class="color">Ruleta: <%=r.raffle.color%> Apuesta:$ <%=r.bet_amount%> Color:<%=r.bet_color%></h3>

            </div>

        <% end %>
    </div>










  </div>
</div>
